/* General Styles */
:root {
    --pice-of-logo-color: #2196F3;
    --maintexst: #757575;
    --othertext: #212121;
    --accent-color: #2196F3;
    --bg-color: #ffffff;
    --bg-order: #2F303A;
    --padding-iconcolor: #F5F4FA;
    --secondary-bg-color: #AFB1B8;
    --borderheader-color: #ECECEC;
    --firs-icons-color: #AFB1B8;
    --second-icons-color: #ffffff;
    --icons-color-accent: #ffffff;
    --bg-button-colorhover: #188CE8;
    --portfolio-accent-color:  rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
}

.title--visually-hidden,
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.body {
    color: var(--maintexst);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.section--undent--bottom {
    margin-bottom: 94px;
}

.body__container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list--reset {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.link--reset {
    text-decoration: none;
}

.list {
    display: flex;
}

.icon {
    fill: currentColor;
}

.list__item:not(:last-child) {
    margin-right: 30px;
}

.link {
    color: var(--othertext);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
    color: var(--othertext);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.text--reset,
.title--reset {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title--centred {
    text-align: center;
}

.title--undent--bottom {
    margin-bottom: 50px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.button {
    color: var(--bg-color);
    background-color: var(--accent-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding: 10px 32px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: var(--bg-button-colorhover);
}

/* Header */
.page-header {
    border-bottom: 1px solid var(--borderheader-color);
}

.page-header__container {
    display: flex;
    align-items: center;
}

.footer .flex-container {
    justify-content: space-between;
}

.nav {
    display: flex;
}

.logo {
    color: var(--othertext);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    display: flex;
    align-items: center;
}

.logo__text {
    color:  var(--pice-of-logo-color);
}

.site-nav {
    display: flex;
    align-items: center;
}

.page-header__site-nav {
    margin-left: 93px;
}

.site-nav__item:not(:first-child) {
    margin-left: 50px;
}

.site-nav__item {
    position: relative;
}

.site-nav .link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav__link:hover, 
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link--current::before {
    position: absolute;
    content: "";
    top: 100%;
    transform: translate(0%, -100%);
    
    width: 100%;

    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 2px;
}

.list-contact,
.list-contact__link {
    display: flex;
}

.list-contact {
    margin-left: auto;
}

.list-contact__link {
    color: var(--maintexst);
}

.list-contact__icon{
    fill: currentColor;
    width: 16px;
    height: 16px;
    align-self: center;
    margin-right: 10px;
}

.list-contact__item:not(:first-child) {
    margin-left: 30px;
}

.list-contact__link:hover,
.list-contact__link:focus {
    color: var(--accent-color);
}

/* Main Content index.html */

/* First Section "Order a Service" */
.backing {
    min-height: 600px;
    background-color: var(--bg-order);
}

.hero{
    max-width: 1600px;
    min-height: 600px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),  
        rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backing__hero,
.backing__container-text{
    margin-left: auto;
    margin-right: auto;
}

.container-text {
    text-align: center;
}

.backing__title {
    color: var(--bg-color);
    text-transform: uppercase;
    text-align: center;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

/* Second Section "Features" */
.feature-list__bg-icon {
    width: 270px;
    height: 120px;
    background-color: var(--padding-iconcolor);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px 25px 100px;
}

.feature-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em
}

.feature-list__title {
    color: var(--othertext);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

/* .feature-list .item::before {
    width: 270px;
    height: 120px;
    content: '';
    background-color: var(--padding-iconcolor);
    margin-bottom: 30px;
}

.feature-list .item:nth-child(1n)::before{
    background-image: url(../img/icon-attention_to_detail.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list .item:nth-child(2n)::before{
    background-image: url(../img/icon-punktuality.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list .item:nth-child(3n)::before{
    background-image: url(../img/icon-planning.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list .item:nth-child(4n)::before{
    background-image: url(../img/icon-modern_technologies.svg);
    background-repeat: no-repeat;
    background-position: center;
} */




/* Third Section "Activity" */
.occupation__container--position {
    position: relative;
    /* overflow: hidden; */
}

.occupation__photo {
    display: block;
}

.occupation__description-container {
    top: 100%;
    
    width: 100%;
    height: 70px;
    transform: translate(0, -100%);
    /* transform: translate(0, 0); */
    /* transition: transform 250ms linear; */

    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 22px;
}

.occupation__description-container--position {
    position: absolute;   
}

/* .list-activity .link:hover .description-img-activity {
    transform: translate(0, -100%);
} */

.occupation__text {
    color: var(--icons-color-accent);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Fourth Section "Team" */
.body__section-team {
    background-color: var(--secondary-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-team {
    background-color:var(--bg-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.team-list__photo {
    margin-bottom: 30px;
}

.card-team__link:not(:last-child) {
    margin-right: 10px;
}

.team-list__link {
    color: var(--firs-icons-color);
    width: 44px;
    height: 44px;
    display: block;
    border: 0px;
    border-radius: 50%;
    padding: 12px;
}

.card-team__title,
.card-team__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.card-team__text {
    font-weight: 400;
}

.team-list__container {
    display: flex;
    justify-content: center;
}

.team-list__link:hover,
.team-list__link:focus {
    background-color: var(--accent-color);
    color: var(--icons-color-accent);
}

/* Fifth Section Regular Customers */
.list__customer-logo {
    display: block;
    color: var(--firs-icons-color);
    border: 1px solid var(--secondary-bg-color);
    border-radius: 4px;

    padding: 16px 32px 16px 32px;
}

.list__customer-logo:hover,
.list__customer-logo:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* Footer */
.page-footer {
    background-color: var(--bg-order);
}

.address .link {
    font-style: normal;
}

.flex-container .footer-content:first-child {
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .link {
    color: var(--bg-color);
    font-size: 14px;
    line-height: 1.71;
}

.address .link.contacts {
    color: rgba(255, 255, 255, 0.6);
}

.webstudio.footer {
    color: var(--bg-color);
    margin-bottom: 20px;
}

b.join,
b.subscribe {
    color: var(--bg-color);
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.iconfooter-list {
    display: flex;
}

.iconfooter-list .item + .item {
    margin-left: 10px;
}

.iconfooter-list .link {
    display: block;
    width: 44px;
    height: 44px;
    color: var(--second-icons-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px;
}

.iconfooter-list .icon{
    fill: currentColor
}

.iconfooter-list .link:hover,
.iconfooter-list .link:focus {
    background-color: var(--accent-color);
}

.icon-socialnetworks {
    display: block;
}

.button-div .button {
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 29px 10px 28px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
    display: flex;
    align-items: center;
}

.footer-input-email {
    width: 358px;
    height: 50px;
    background-color: var(--bg-order);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px 16px 15px 16px;
}

/* .footer-button::after{
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../img/icon-send.svg);
    margin-left: 10px;
} */

.footer-button .text {
    color: var(--bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-right: 10px;
}

.button-div .button:hover,
.button-div .button:focus {
    background-color: var(--bg-button-colorhover);
}


/* Main Content Portfolio.html */
.button-list {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.button-list .item + .item {
    margin-left: 8px;
}

.button-list .item {
    align-self: center;
}

.portfolio-header {
    margin-bottom: 94px;
}

.item .button {
    min-height: 30px;

    color: var(--othertext);
    background-color: var(--padding-iconcolor);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .button:hover {
    color: var(--bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.project-and-type {
    padding: 20px 24px;
}

.link .project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.link .type {
    font-size: 16px;
    line-height: 1.87;
    margin-top: 4px;
}

.list-project {
    display: flex;
    flex-wrap: wrap;
}

.list-project .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.list-project .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.list-project .item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-project .item:hover {
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Another Way */

/* .list-project .item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.list-project .item:nth-child(3n) {
    margin-right: 0px;
}

.list-project .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
} */

.thumb {
    position: relative;
    overflow: hidden;
}

/* .description {
    /* position: absolute;
    top: 63px;
    left: 23px;

    width: 322px;

    color: var(--bg-color);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
} */

.bg-description {
    position: absolute;
    top: 100%;
    transform: translateY(0);

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px 63px 24px;
    
    transition: transform 250ms linear;
}

.link-project:hover .bg-description {
    transform: translateY(-100%);
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--backdrop-color);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.leave-information-title {
    color: var(--othertext);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;
    
    background-color: var(--bg-color);
    

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.centred.title {
    text-align: center;
    margin-bottom: 30px;
}

.elements-of-form {
    position: relative;
}

.elements-of-form + .elements-of-form:not(.elements-of-form:nth-child(4n+4)){
    margin-top: 28px;
}

.elements-of-form .input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
}

.label-modal {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elements-of-form .input:focus + .label-modal,
.elements-of-form .input:not(:placeholder-shown) + .label-modal {
    transform: translate(-35px, -38px);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elements-of-form .input:focus + .label-modal,
.elements-of-form .input:focus ~ .modal-icon {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.elements-of-form .input:focus {
    outline: 1px solid var(--accent-color);
    border: none;
}

.textarea-label-modal {
    display: block;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.elements-of-form .textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal-div {
    margin: 20px 0px 20px 0px;
}

.textarea-modal-div:focus-within {
    color: var(--accent-color);
}

.elements-of-form .textarea {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.elements-of-form .textarea:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.checkbox-title {
    position: relative;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-left: 36px;

    cursor: pointer;
}

.checkbox-title .link {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: underline;
}

.checkbox {
    position: absolute;
    top: 50%;
    left: -23px;
    transform: translateY(-50%);

    width: 16px;
    height: 15px;
    
    border-radius: 2px;
    border: 2px solid var(--othertext);
}

.modal-input-checkbox:checked + .checkbox-title .checkbox {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
}

.modal-input-checkbox:focus + .checkbox-title .checkbox {
    border: none;
    outline: 2px solid var(--othertext);
}

.checkbox-of-form {
    margin-bottom: 30px;
}

.form-button-submit {
    display: block;
    color: #ffffff;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-submit:hover {
    background-color: var(--bg-button-colorhover);
}

.modal .button {
    position: absolute;
    top: 8px;
    right: 8px;

    padding: 9px 12px 9px 12px;

    background-color: var(--bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon {
    fill: currentColor;
}

.modal .button:hover {
    color: var(--accent-color);
}